<!DOCTYPE html>
<html>
<body>
  <p>All Images</p>
    <% for (let image of images) { %>
        <div><img class="2flex" src="/files/<%= image %>"></div>
      <% } %>

      <% for (let image of data) { %>
        <div><img class="2flex" src="/files/<%= image %>"></div>
      <% } %>
      
</body>
</html>

  