<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Webchat</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
    <div>
        <input type="text" name="username" placeholder="Daniel Schmitz">
        <textarea placeholder="Yo your Message here "></textarea>
    </div>
    </body>
    <!--Add Froala here -->
</html>